{{ doctype }}
<html>
    <head>
        {{ meta_tag }}
    </head>
    <body>
        <div id="file_name">file name: {{ file_name }}</div>
        <div id="timestamp">start on: {{ timestamp }}</div>
        <div id="location">location: {{ location }}</div>
        <div id="speed_avrg">averadge speed: {{ speed_avrg }} {{ speedUnits }} </div>
        <div id="duration">duration: {{ duration }} {{ timeUnits }} </div>
        <div id="distance">distance: {{ distance }} {{ distanceUnits }}</div>
        <div id="speed_max">top speed: {{ speed_max }} {{ speedUnits }} </div>
        <div id="total_ascending">total ascending: {{ total_ascending }}</div>
        <div id="total_descending">total descending: {{ total_descending }}</div>
        <div id="elevation_gain">elevation gain: {{ elevation_gain }} {{ elevationUnits }}</div>
    </body>
</html>


