<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Layout Example</title>
<script type="text/javascript" src="js/jquery-latest.js"></script>
<script type="text/javascript" src="js/jquery.layout-latest.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.8.23.custom.min.js"></script>
<link rel="stylesheet" href="css/ui-darkness/jquery-ui-1.8.23.custom.css">

<script type="text/javascript" src="js/script.js"></script>
<style type="text/css">
.ui-button .ui-button-text {
    line-height: 0.7em;
    font-weight: normal;
    font-size: small;
}

.detailLabels, .detailValues {
    height: 8em;
    float: left;
}
.detailLabels {
    width: 11.7em;
}
.detailValues {
    width: 21em;
}
</style>
<script type="text/javascript">
$(document).ready(function () {
        $('body').layout({
            applyDemoStyles: true,
            south__resizable: true,
        });
        /*
        // TODO initial displayment
        // TODO display initial state withouth using mouse clicks
        var arr = new Array();
        {% for e in entries %}
        arr.push({ 'show' : '{{ e.show }}', 'cboxId' : '{{ e.cboxId }}' });
        {% endfor %}

        for (var i in arr) {
            t = arr[i];
            if (t.show == 'True') {
                var el = $('#'+t.cboxId);
                // these four function calls make up the only way how to set the
                // checkbox to 'checked' and show the track
                el.prop("checked", true);
                el.click();
                el.prop("checked", true);
            }
        }
        */
        $(".cbox").button();
});

function display(lon, lat, url, cboxClass, destId) {
    var arrUrlGpxTrack = new Array();
    var arrUrlDetailTrack = new Array();
    var arrTrackColors = new Array();

    $("."+cboxClass+":checked").each(function(){
        checkedElem = $(this);
        var urlGpxTrack = '/gpxtrack/'+checkedElem.attr('bkey');
        var urlDetail = '/details/'+checkedElem.attr('bkey');
        arrUrlGpxTrack.push(urlGpxTrack);
        arrUrlDetailTrack.push(urlDetail);
        arrTrackColors.push(checkedElem.attr('color'));
    });
    displayTracks(1, lon, lat, 16, arrUrlGpxTrack, arrUrlDetailTrack, arrTrackColors);
}
</script>
</head>
<body>
<div class="ui-layout-center">
    <div style="width:100%; height:100%" id="map"></div>
</div>
<!--<div class="ui-layout-north">North</div>-->
<div class="ui-layout-south">
    <div id="details" style="height:100%">
        <div class="detailLabels">
            <div>filename:</div>
            <div>waypoints:</div>
            <div>averadge speed {{ speedUnits }}:</div>
            <div>duration {{ timeUnits }}:</div>
            <div>distance {{ distanceUnits }}:</div>
            <div>top speed {{ speedUnits }}:</div>
            <div>elevation gain {{ elevationUnits }}:</div>
        </div>
        <div id="detailContainer">
        </div>
    </div>
</div>
<!--<div class="ui-layout-east">East</div>-->
<div class="ui-layout-west">
    <form action="{{ url_upload_handler }}" method="POST" enctype="multipart/form-data">

        <div>Upload GPX file:</div>
        <input id="file" type="file" name="file" value="Val"/>

        <!--<label for="realupload">Upload file: </label>
        <div class="fakeupload">
            <input type="text" name="fakeupload" /> #!== browse button is here as background ==#
        </div>
        <input type="file" name="file" id="realupload" class="realupload" onchange="this.form.fakeupload.value = this.value;" />
        -->

        <button id="submit" type="submit" name="submit">Submit</button>
    </form>

    <div class="ui-widget" id="format">
        {% for e in entries %}
        <div>
            <input type="checkbox" color="{{ e.color }}" onclick="display({{ e.lon }}, {{ e.lat }}, '{{ e.cboxId }}', 'cbox', 'details')" class="cbox" bkey="{{ e.bKey }}" id="{{ e.cboxId }}" />
            <label for="{{ e.cboxId }}">{{ e.bFilename }}</label>
        </div>
        {% endfor %}
    </div>
</div>
</body>
</html>
