<html>
    <body>
        <form action="{{ url_upload_handler }}" method="POST" enctype="multipart/form-data">
            <div>Upload gpx file:</div>
            <div>
                <input type="file" name="file"/>
                <input type="submit" name="submit" value="Submit"/>
            </div>
        </form>
        {% for b in all_blobs %}
        <div>
            <a href="/{{ url_maplayer }}/{{ b.key() }}">{{ b.filename }}</a> <a href="/{{ url_delete }}/{{ b.key() }}">delete</a>
        </div>
        {% endfor %}
    </body>
</html>


